# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-n3603.us-central1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=BEYSO2BBJN5YQNPI
sasl.password=yzngow9zRBIQg9nPvxoAzE2LvSv1B7vq036UBtodOFLbL0TZT54ntWuS5om8da37

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=ccloud-python-client-6d8f9c3e-412f-4d28-9791-89156344b75d